<nav
  class="fixed flex h-16 w-full items-center justify-between bg-gray-50 dark:bg-gray-800 sm:ml-64 md:top-0">
  <div class="flex flex-auto items-center justify-between sm:items-stretch sm:justify-start">
    <div class="flex flex-shrink-0 items-center text-black dark:text-white">Angular Starter</div>
    <div class="hidden sm:ml-6 sm:block">
      <div class="flex space-x-4">
        <a
          href="#"
          class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
          aria-current="page"
          >Dashboard</a
        >
        <a
          href="#"
          class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
          >Team</a
        >
        <a
          href="#"
          class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
          >Projects</a
        >
      </div>
    </div>
  </div>
  <div class="flex flex-1">
    <app-dark-mode-switch></app-dark-mode-switch>
  </div>
</nav>
