<p-card header="{{ 'starter.index.header' | translate }}">
  <h1 class="pb-10">
    {{ 'starter.index.hello' | translate }}
  </h1>
  <ul class="list-disc space-y-4 pl-10">
    <li>
      <a href="https://github.com/mzeromski/angular-starter" target="_blank" class="underline">
        Github: https://github.com/mzeromski/angular-starter
      </a>
    </li>
    <li>
      <a href="https://angular-starter.com/" target="_blank" class="underline">
        Working demo: https://angular-starter.com/
      </a>
    </li>
    <li>
      <a href="https://learn.angular-starter.com/angular-starter" target="_blank" class="underline">
        Docs: https://learn.angular-starter.com/angular-starter
      </a>
    </li>
  </ul>
</p-card>

<p-card header="Slugify" styleClass="mt-5">
  <p>{{ 'Some Text With Special Chars, ÓĄŚŁŻŹĄ' | slugify }}</p>
</p-card>

<p-card header="Colors" styleClass="mt-5">
  <div class="flex flex-col gap-5">
    <p
      *ngFor="let colorNumber of [100, 200, 300, 400, 500, 600, 700, 800, 900]"
      class="bg-primary-{{ colorNumber }}">
      Primary {{ colorNumber }}
    </p>
  </div>
</p-card>
