<button
  type="button"
  (click)="sidebarOpen = true"
  class="fixed top-1 z-10 ms-3 mt-2 inline-flex h-10 w-10 items-center rounded-lg text-center text-xl hover:bg-emphasis focus:outline-none focus:ring-2 focus:ring-gray-200 sm:hidden">
  <span class="sr-only">Open sidebar</span>
  <fa-icon [icon]="sidebarOpenIcon" class="mx-auto"></fa-icon>
</button>

<div
  *ngIf="sidebarOpen"
  (click)="sidebarOpen = false"
  class="fixed inset-0 z-30 bg-gray-900/50"></div>

<app-nav></app-nav>

<aside
  (click)="sidebarOpen = false"
  [ngClass]="{ '!top-0 translate-x-0': sidebarOpen }"
  class="fixed left-0 top-16 z-40 h-screen w-64 -translate-x-full transition-transform sm:translate-x-0"
  aria-label="Sidebar">
  <app-sidebar></app-sidebar>
</aside>

<div class="mt-16 p-4 sm:ml-64">
  <router-outlet></router-outlet>
</div>

<p-toast position="bottom-right" />

<app-loader></app-loader>
